body{
    background: rgb(31, 10, 124);
    color: red;
    font-size: 100%;
    margin: 2%;
}

h1{
    font-size: 300%;
}

nav a{
    color: orange;
}
a.current{
    background: black;
    color: rgb(9, 255, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 1px solid yellow
}

p{
    font-family: 'Times New Roman', Times, serif;
}

 a.skip{
    position: relative;
    left: -1000px;
    color: orange;
}

a.skip:focus{
    position: static;
    width: auto;
    height: auto;
}

