body{
    background: rgb(31, 10, 124);
    color: red;
    font-size: 100%;
    margin: 2%;
}

h1{
    font-size: 300%;
}

h3{
    font-size: 150%;
}

h4{
    font-size: 125%;
}

nav a{
    color: orange;
}
a.current{
    background: black;
    color: rgb(9, 255, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 1px solid yellow
}

p{
    font-family: 'Times New Roman', Times, serif;
}

 a.skip{
    position: relative;
    left: -1000px;
    color: orange;
}

a.skip:focus{
    position: static;
    width: auto;
    height: auto;
}

.container{
    display:grid;
    grid-template-columns: repeat(2, 300px);
}

img{
    width: 300px;
}

table {
    border-collapse: collapse;
    width: 50%;
  }
  
  table, th, td {
    border: 3px solid black;
  }

  th, td{
      height: 20px;
  }

table.stats{
    border-collapse: collapse;
    width: 20%;
}

table.stats, th.stats, td.stats{
    border: 3px solid black;
}

td.dex {
    border-bottom: 1px solid black;
  }